modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "glibcLocales", "libiconv", "openssl", "postgresql", "rustc"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
